<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ltt.intership"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <activity
            android:name="ltt.intership.activity.StartUpActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ltt-intership" />
            </intent-filter>
        </activity>
        <activity
            android:name="ltt.intership.activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="ltt.intership.activity.ListRssActivity"
            android:label="@string/title_activity_list_rss" >
        </activity>
        <activity
            android:name="ltt.intership.activity.ShowRssActivity"
            android:label="@string/title_activity_show_rss" >
        </activity>
        <activity
            android:name="ltt.intership.activity.ReadArticleActivity"
            android:label="@string/title_activity_read_article" >
        </activity>
        <activity
            android:name="ltt.intership.activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name="ltt.intership.activity.AccountHelpActivity"
            android:label="@string/title_activity_account_help" >
        </activity>
        <activity
            android:name="ltt.intership.activity.AccountManageActivity"
            android:label="@string/title_activity_account_manage" >
        </activity>
        <activity
            android:name="ltt.intership.activity.AccountProfileActivity"
            android:label="@string/title_activity_account_profile" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="ltt.intership.activity.ShowWebviewActivity"
            android:label="@string/title_activity_show_webview" >
        </activity>
    </application>

</manifest>